name: Sync LeetCode

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Sync LeetCode Solutions
        uses: joshcai/leetcode-sync@v1.7
        with:
          username: ${{ secrets.LEETCODE_USERNAME }}
          session: ${{ secrets.LEETCODE_SESSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          language: java
